:root {
  --font-size: 14px;
  --desktop-padding: calc(0.5 * (100% - 1200px));
  --large-tablet-padding: max(1.5rem, min((100% - 1000px) / 2, (100% - 5rem) / 2));
  --tablet-padding: 1.5rem;
  --mobile-padding: 1.5rem;

  /* Params */
  --border-size: 3px;

  /* Colors */
  --theme-1: #edf8fc;
  --theme-2: #c7e3f0;
  --theme-3: #98c9e3;
  --theme-4: #6daed6;
  --theme-5: #4793c9;
  --theme-6: #2478bd;
  --theme-7: #155896;
  --theme-8: #0a3b70;
  --theme-9: #03234a;
  --theme-10: #010f24;
  --theme-primary: var(--theme-7);
  --theme-secondary: var(--theme-6);

  --gray-1: #ffffff;
  --gray-2: #fafafa;
  --gray-3: #f5f5f5;
  --gray-4: #f0f0f0;
  --gray-5: #d9d9d9;
  --gray-6: #bfbfbf;
  --gray-7: #8c8c8c;
  --gray-8: #595959;
  --gray-9: #434343;
  --gray-10: #262626;
  --gray-11: #1f1f1f;
  --gray-12: #141414;
  --gray-13: #000000;

  --red: #A1414C;
  --red-secondary: #ff7875;
  --decrease: #A1414C;
  --green: #40a070;
  --green-secondary: #95de64;
  --green-third: #317553;
  --increase: #738F50;
  --blue: #2478bd;
  --blue-primary: #22a2c3;
  --blue-secondary: #69b1ff;
  --blue-third: #2478bd;
  --blue-fourth: #6daed6;
  --yellow: #fadb14;
  --yellow-secondary: #fff566;

  --background-color: var(--gray-3);
  --background-color2: var(--gray-1);
  --hover: var(--gray-5);
  --hover-2: var(--gray-2);
  --border: var(--gray-6);
  --border-2: var(--gray-2);
  --border-3: var(--gray-5);
  --border-input: var(--gray-3);
  --font-color: var(--gray-11);
  --font-color2: var(--gray-9);
  --font-color3: var(--gray-8);
  --scrollbar-track: transparent;
  --scrollbar-thumb: var(--gray-5);
  --scrollbar-thumb-hover: var(--gray-6);
  --toast-background-color: var(--gray-5);

  /* Table */
  --striped-thead: var(--gray-3);
  --tbody: var(--background-color2);
  --tr-hover: var(--hover);
  --tr-odd: var(--gray-1);
  --tr-odd-hover: var(--hover);
  --tr-even: var(--gray-2);
  --tr-even-hover: var(--gray-3);
  --table-border: var(--border);

  /* Badge */
  --food-bg: hsl(88, 50%, 90%);
  --food-text: hsl(88, 50%, 40%);
  --traffic-bg: hsl(200, 15%, 90%);
  --traffic-text: hsl(200, 15%, 40%);
  --shopping-bg: hsl(65, 69%, 90%);
  --shopping-text: hsl(65, 69%, 40%);
  --entertainment-bg: hsl(291, 47%, 90%);
  --entertainment-text: hsl(291, 47%, 40%);
  --travel-bg: hsl(199, 92%, 90%);
  --travel-text: hsl(199, 92%, 40%);
  --medical-bg: hsl(354, 100%, 90%);
  --medical-text: hsl(354, 100%, 40%);
  --insurance-bg: hsl(175, 41%, 90%);
  --insurance-text: hsl(175, 41%, 40%);
  --tuition-bg: hsl(16, 16%, 90%);
  --tuition-text: hsl(16, 16%, 40%);
  --rent-bg: hsl(36, 100%, 90%);
  --rent-text: hsl(36, 100%, 40%);
  --internet-bg: hsl(199, 92%, 90%);
  --internet-text: hsl(199, 92%, 40%);
  --phone-bg: hsl(187, 71%, 90%);
  --phone-text: hsl(187, 71%, 40%);
  --sports-bg: hsl(122, 38%, 90%);
  --sports-text: hsl(122, 38%, 40%);
  --salary-bg: hsl(45, 100%, 90%);
  --salary-text: hsl(45, 100%, 40%);
  --bonus-bg: hsl(14, 100%, 90%);
  --bonus-text: hsl(14, 100%, 40%);
  --other-bg: hsl(0, 0%, 90%);
  --other-text: hsl(0, 0%, 40%);
}

[data-theme='light'] {
  --background-color: var(--gray-3);
  --background-color2: var(--gray-1);
  --hover: var(--gray-5);
  --hover-2: var(--gray-2);
  --border: var(--gray-6);
  --border-2: var(--gray-2);
  --border-3: var(--gray-5);
  --border-input: var(--gray-3);
  --font-color: var(--gray-11);
  --font-color2: var(--gray-9);
  --font-color3: var(--gray-8);
  --scrollbar-track: transparent;
  --scrollbar-thumb: var(--gray-5);
  --scrollbar-thumb-hover: var(--gray-6);
  --toast-background-color: var(--gray-5);

  /* Table */
  --striped-thead: var(--gray-3);
  --tbody: var(--background-color2);
  --tr-hover: var(--hover);
  --tr-odd: var(--gray-1);
  --tr-odd-hover: var(--hover);
  --tr-even: var(--gray-2);
  --tr-even-hover: var(--gray-3);
  --table-border: var(--border);

  /* Badge */
  --food-bg: hsl(88, 50%, 90%);
  --food-text: hsl(88, 50%, 40%);
  --traffic-bg: hsl(200, 15%, 90%);
  --traffic-text: hsl(200, 15%, 40%);
  --shopping-bg: hsl(65, 69%, 90%);
  --shopping-text: hsl(65, 69%, 40%);
  --entertainment-bg: hsl(291, 47%, 90%);
  --entertainment-text: hsl(291, 47%, 40%);
  --travel-bg: hsl(199, 92%, 90%);
  --travel-text: hsl(199, 92%, 40%);
  --medical-bg: hsl(354, 100%, 90%);
  --medical-text: hsl(354, 100%, 40%);
  --insurance-bg: hsl(175, 41%, 90%);
  --insurance-text: hsl(175, 41%, 40%);
  --tuition-bg: hsl(16, 16%, 90%);
  --tuition-text: hsl(16, 16%, 40%);
  --rent-bg: hsl(36, 100%, 90%);
  --rent-text: hsl(36, 100%, 40%);
  --internet-bg: hsl(199, 92%, 90%);
  --internet-text: hsl(199, 92%, 40%);
  --phone-bg: hsl(187, 71%, 90%);
  --phone-text: hsl(187, 71%, 40%);
  --sports-bg: hsl(122, 38%, 90%);
  --sports-text: hsl(122, 38%, 40%);
  --salary-bg: hsl(45, 100%, 90%);
  --salary-text: hsl(45, 100%, 40%);
  --bonus-bg: hsl(14, 100%, 90%);
  --bonus-text: hsl(14, 100%, 40%);
  --other-bg: hsl(0, 0%, 90%);
  --other-text: hsl(0, 0%, 40%);
}

[data-theme='dark'] {
  --background-color: var(--gray-12);
  --background-color2: var(--gray-11);
  --hover: var(--gray-10);
  --border: var(--gray-10);
  --border-2: var(--gray-6);
  --border-3: var(--gray-9);
  --border-input: var(--gray-10);
  --font-color: var(--gray-6);
  --font-color2: var(--gray-7);
  --font-color3: var(--gray-8);
  --scrollbar-track: transparent;
  --scrollbar-thumb: var(--gray-10);
  --scrollbar-thumb-hover: var(--gray-9);
  --toast-background-color: var(--gray-10);

  /* Table */
  --striped-thead: var(--gray-12);
  --tbody: var(--background-color2);
  --tr-hover: var(--hover);
  --tr-odd: var(--background-color2);
  --tr-odd-hover: var(--hover);
  --tr-even: var(--gray-10);
  --tr-even-hover: var(--gray-9);
  --table-border: var(--border);

  /* Badge */
  --food-bg: hsl(88, 50%, 20%);
  --food-text: hsl(88, 50%, 80%);
  --traffic-bg: hsl(200, 15%, 20%);
  --traffic-text: hsl(200, 15%, 80%);
  --shopping-bg: hsl(65, 69%, 20%);
  --shopping-text: hsl(65, 69%, 80%);
  --entertainment-bg: hsl(291, 47%, 20%);
  --entertainment-text: hsl(291, 47%, 80%);
  --travel-bg: hsl(199, 92%, 20%);
  --travel-text: hsl(199, 92%, 80%);
  --medical-bg: hsl(354, 100%, 20%);
  --medical-text: hsl(354, 100%, 80%);
  --insurance-bg: hsl(175, 41%, 20%);
  --insurance-text: hsl(175, 41%, 80%);
  --tuition-bg: hsl(16, 16%, 20%);
  --tuition-text: hsl(16, 16%, 80%);
  --rent-bg: hsl(36, 100%, 20%);
  --rent-text: hsl(36, 100%, 80%);
  --internet-bg: hsl(199, 92%, 20%);
  --internet-text: hsl(199, 92%, 80%);
  --phone-bg: hsl(187, 71%, 20%);
  --phone-text: hsl(187, 71%, 80%);
  --sports-bg: hsl(122, 38%, 20%);
  --sports-text: hsl(122, 38%, 80%);
  --salary-bg: hsl(45, 100%, 20%);
  --salary-text: hsl(45, 100%, 80%);
  --bonus-bg: hsl(14, 100%, 20%);
  --bonus-text: hsl(14, 100%, 80%);
  --other-bg: hsl(0, 0%, 20%);
  --other-text: hsl(0, 0%, 80%);
}